[build]
  publish = "."
  command = ""

[[redirects]]
  from = "/intake"
  to = "/contact.html"
  status = 200

[[redirects]]
  from = "/services"
  to = "/services.html"
  status = 200

[[redirects]]
  from = "/resources"
  to = "/resources.html"
  status = 200

[[redirects]]
  from = "/about"
  to = "/about.html"
  status = 200

[[redirects]]
  from = "/legal"
  to = "/legal.html"
  status = 200
